<div class="todo">
  <div class="container">
    <h2 class="title">Bienvenido a TiendaGenerica</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At modi dolore molestiae commodi neque fuga dolorem eius
      asperiores quo ipsa ab repudiandae illum esse, porro maiores exercitationem, tenetur ut voluptatum!</p>
    <button class="btn btn-success">Ingresar</button>
  </div>
</div>
<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .todo {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
